.campo {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  margin: 24px 0;
  position: relative;
}

.campo label {
  font-size: 18px;
  margin-bottom: 8px;
}

.campo input {
  border: none;
  background-color: white;
  box-shadow: 10, 10, 30, 0;
  font-size: 16px;
  padding: 24px;
  box-shadow: 10px 10px 30px #0000000f;
}

.campo_color input {
  padding: 5px;
  height: 40px;
  width: 25%;
}

.campo .digitacao {
  margin-top: 8px;
  margin-left: 8px;
  color: red;
}

.campo .icone_show_text {
  position: absolute;
  right: 20px;
  top: 50px;
  cursor: pointer;
}
